body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    padding: 20px;
    margin: auto;
    max-width: 600px;
  }
  
  h1, h2 {
    color: white;
  }
  
  .Form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #333;
    border: none;
    color: white;
  }
  
  .buttons, .buttons2 {
    margin-top: 20px;
  }
  
  .button {
    background-color: #555;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #777;
  }
  
  .taskinfo {
    margin-top: 20px;
  }
  
  .task {
    margin-bottom: 10px;
  }
  
  .user-details {
    margin-top: 20px;
  }
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .task h3 {
    margin: 0;
    flex-grow: 1;
  }
  
  .task input[type="checkbox"] {
    margin-left: 10px;
  }
  .completed {
    text-decoration: line-through;
  }
  

  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }